.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
  color: white !important;
}

.swiper-button-prev {
  left: 120px !important;
}

.swiper-button-next {
  right: 120px !important;
}

.react-tabs__tab--selected {
  background-color: #0f6d65 !important;
  color: #fff !important;
}

:focus-visible {
  outline: 0 !important;
}

.container.max-w-screen-lg.mx-auto.relative.z-20.text-white.text-center p {
  display: none;
}
.container.max-w-screen-lg.mx-auto.relative.z-20.text-white.text-center
  .text-lg.text-\[yellow\] {
  display: block;
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .swiper-button-prev {
    left: 12px !important;
  }

  .swiper-button-next {
    right: 12px !important;
  }
}

@media (max-width: 1199px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
