/* video css  */

.videobgholder {
  width: 100%;
}

.videobgholder {
  width: 100%;
  height: auto;
  float: left;
  padding: 0px;
  margin: 0px;
  float: left;
}

#wrapper {
  width: 100%;
  position: relative;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.video-bopadd {
  padding-bottom: 150px;
}

.video-toppadd {
  padding-top: 150px;
}

.container,
.jumbotron .container {
  width: auto;
  max-width: 1170px;
  vertical-align: middle;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

h2.less-mar2 {
  margin-bottom: 5px;
}

.section-title {
  font-weight: 400;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.video-wrapper {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.video-wrapper video {
  width: 100%;
}

/* our service  */
.startern-section {
  padding: 80px 0;
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.service-div {
  padding: 60px 25px 55px 0;
  border-bottom: 8px solid #35c36f;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
  margin: 30px 0;
  font-size: 15px;
  min-height: 388px;
  transition: all 0.3s ease-in-out 0.1s;
}
.service-div,
.startern-header,
.startern-header-div {
  display: inline-block;
}
.service-div,
.service-div:before {
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
}
.service-div:before {
  background: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0.1s;
}
.service-div:hover p {
  color: #000;
}
.service-div:hover::before {
  background: rgba(255, 255, 255, 0.7);
}
.service-div,
.service-div:before {
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
}
.service-div i {
  font-size: 64px;
  z-index: 1;
}
[class*=" flaticon-"]:after,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class^="flaticon-"]:before {
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-service-1:before {
  content: "\f130";
}
[class*=" flaticon-"]:after,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class^="flaticon-"]:before {
  font-family: Flaticon;
  font-style: normal;
}
.service-div h2 {
  font-size: 20px;
  color: #303030;
  z-index: 1;
  margin-top: 28px;
  height: 40px;
}
.service-div p {
  color: #bdc0c4;
}
.service-div p.service-price {
  color: #1f1f1f;
  font-weight: 500;
  font-size: 16px;
  margin-top: 28px;
  margin-bottom: -6px;
  margin-left: -20px;
  transition: all 0.3s ease-in-out 0.1s;
}
.service-div p.service-price,
.why-i {
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
}
.btn,
.btn-top-section,
.button,
.home-section h1,
.navbar-default,
.service-div p.service-price {
  font-family: Montserrat, sans-serif;
}
.service-div p {
  color: #bdc0c4;
}
.service-price-span {
  z-index: 1;
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 2px;
  font-size: 14px;
  color: #4a4a4a;
}
.service-div {
  padding-left: 10%;
}

/* how it works  */

.et_pb_section_4 {
  background-color: #2196f3 !important;
}

.et_pb_blurb_7 .et-pb-icon {
  color: #000000;
  background-color: #ffffff;
}

.et_pb_blurb_8 .et-pb-icon {
  color: #000000;
  background-color: #ffffff;
}

.et_pb_blurb_9 .et-pb-icon {
  color: #000000;
  background-color: #ffffff;
}

/* <!-- Testimonial Page Section		 */
#primary-menu ul ul li > a,
.before-heading,
.button.button-desc span,
.comment-content .comment-author span,
.entry blockquote p,
.entry-link span,
.entry-meta li,
.feature-box.fbox-center.fbox-italic p,
.font-body,
.font-secondary,
.more-link,
.nav-tree ul ul a,
.skills li .progress-percent .counter,
.team-title span,
.testi-content p,
.wedding-head .first-name span,
.wedding-head .last-name span,
.wp-caption,
body,
small {
  font-family: "PT Sans", sans-serif;
}

.dark .section,
.section.dark {
  background-color: #282828;
  border-color: rgba(255, 255, 255, 0.1);
}

.dark,
.dark a:hover,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #eee;
}

.parallax {
  background-color: transparent;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.section {
  position: relative;
  padding: 60px 0;
  background-color: #f9f9f9;
  overflow: hidden;
}

.nobottompadding {
  padding-bottom: 0 !important;
}

#content,
#content .container,
.content-wrap,
.grid-container,
.portfolio-filter,
.portfolio-filter li {
  position: relative;
}

.section .container {
  z-index: 2;
}

.dark #copyrights,
.dark .counter,
.dark .heading-block:not(.not-dark) {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.heading-block {
  margin-bottom: 50px;
}

.center {
  text-align: center !important;
}

.dark .emphasis-title:not(.not-dark) h1,
.dark .emphasis-title:not(.not-dark) h2,
.dark .heading-block:not(.not-dark) h1,
.dark .heading-block:not(.not-dark) h2,
.dark .heading-block:not(.not-dark) h3,
.dark .heading-block:not(.not-dark) h4 {
  color: #666;
}

.dark,
.dark a:hover,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #eee;
}

.heading-block h3 {
  font-size: 26px;
}

.emphasis-title h1,
.emphasis-title h2,
.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4 {
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}

.ls2 {
  letter-spacing: 2px !important;
}

#logo,
#primary-menu
  ul
  li
  .mega-menu-content.style-2
  ul.mega-menu-column
  > li.mega-menu-title
  > a,
#primary-menu ul li > a,
#top-search form input,
.button,
.button.button-desc,
.counter,
.entry-link,
.entry.entry-date-section span,
.font-primary,
.nav-tree li a,
.wedding-head .first-name,
.wedding-head .last-name,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "PT Sans Caption", sans-serif;
}

.testimonial.testimonial-full,
.testimonial.testimonial-full[data-animation="fade"] {
  padding: 30px;
}

.testimonial {
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.team,
.team-image,
.team-title,
.testi-content,
.testimonial {
  position: relative;
}

.fslider {
  min-height: 32px;
}

.fslider,
.fslider .flexslider,
.fslider .slide,
.fslider .slide > a,
.fslider .slide > a > img,
.fslider .slide > img,
.fslider .slider-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.nobgcolor {
  background-color: transparent !important;
}

.divcenter {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.center {
  text-align: center !important;
}

.nopadding {
  padding: 0 !important;
}

.noborder {
  border: none !important;
}

.bottommargin-sm {
  margin-bottom: 30px !important;
}

.divcenter,
.emptydiv,
.noabsolute {
  position: relative !important;
}

#top-search form input,
.noshadow {
  box-shadow: none !important;
}

#header-wrap,
#page-menu-wrap,
#side-panel,
.body-overlay,
.button.button-border.button-fill,
.button.button-border.button-fill:before,
.clients-grid li,
.flexslider .slider-wrap > .slide,
.flipbox-back,
.flipbox-front,
.fslider,
.fslider .flexslider,
.fslider .slide,
.fslider .slide > a,
.fslider .slide > a > img,
.fslider .slide > img,
.fslider .slider-wrap,
.owl-carousel .owl-video-play-icon,
.portfolio-overlay a,
.slider-parallax,
.slider-parallax .swiper-container,
.swiper-slide [data-caption-animate],
.testimonials-grid li,
.video-overlay,
.video-placeholder {
  -webkit-backface-visibility: hidden;
}

.flexslider {
  position: relative;
  margin: 0;
  padding: 0;
}

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
}

.center {
  text-align: center !important;
}

.dark,
.dark a:hover,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #eee;
}

.flex-control-nav,
.flex-direction-nav,
.slider-wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

.testimonial-full .testi-content {
  text-align: center;
  font-size: 18px;
}

.testi-content {
  overflow: hidden;
}

.team,
.team-image,
.team-title,
.testi-content,
.testimonial {
  position: relative;
}

.dark .testi-content p {
  color: #fff;
}

.font-serif,
.team-title span,
.testi-content p {
  font-family: "PT Serif", serif !important;
}

.testi-content p {
  line-height: 1.6 !important;
  font-weight: 400;
  padding: 0 50px;
}

.testi-content p {
  margin-bottom: 0;
}

.team-title span,
.testi-content p {
  font-family: "Crete Round", serif;
  font-style: italic;
}

address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 30px;
}

.dark .testi-meta {
  font-size: 18px;
  color: #e9b021;
  letter-spacing: 1px;
  margin-top: 30px;
}

.testi-meta {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.parallax.dark .testimonial .flex-control-nav {
  height: 8px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.testimonial.testimonial-full .flex-control-nav {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 6px;
  margin-top: 20px;
}

.testimonial .flex-control-nav {
  top: auto;
  bottom: 6px;
  right: 0;
}

.flex-control-nav {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 14px;
  right: 10px;
  margin: 0;
}

.flex-control-nav,
.flex-direction-nav,
.slider-wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 30px;
}

dd,
dl,
dt,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

.parallax.dark .testimonial .flex-control-nav li {
  width: 8px;
  height: 8px;
  margin: 0 3px;
}

.testimonial.testimonial-full .flex-control-nav li {
  display: inline-block;
  float: none;
}

.testimonial .flex-control-nav li {
  margin: 0 2px;
  width: 6px;
  height: 6px;
}

.flex-control-nav li {
  float: left;
  display: block;
  margin: 0 3px;
  width: 10px;
  height: 10px;
}

dd,
dl,
dt,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-control-nav {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 14px;
  right: 10px;
  margin: 0;
}

.flex-control-nav,
.flex-direction-nav,
.slider-wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

#primary-menu.style-3 > ul > li.current > a,
#primary-menu.sub-title > ul > li:hover > a,
#primary-menu.sub-title > ul > li.current > a,
#primary-menu.sub-title > div > ul > li:hover > a,
#primary-menu.sub-title > div > ul > li.current > a,
#top-cart > a > span,
#page-menu-wrap,
#page-menu ul ul,
#page-menu.dots-menu nav li.current a,
#page-menu.dots-menu nav li span,
.portfolio-filter li.activeFilter a,
.portfolio-shuffle:hover,
.entry-link:hover,
.sale-flash,
.button:not(.button-white):not(.button-dark):not(.button-border):not(
    .button-black
  ):not(.button-red):not(.button-teal):not(.button-yellow):not(
    .button-green
  ):not(.button-brown):not(.button-aqua):not(.button-purple):not(
    .button-leaf
  ):not(.button-pink):not(.button-blue):not(.button-dirtygreen):not(
    .button-amber
  ):not(.button-lime),
.button.button-dark:hover,
.promo.promo-flat,
.feature-box .fbox-icon i,
.feature-box .fbox-icon img,
.fbox-effect.fbox-dark .fbox-icon i:hover,
.fbox-effect.fbox-dark:hover .fbox-icon i,
.fbox-border.fbox-effect.fbox-dark .fbox-icon i:after,
.i-rounded:hover,
.i-circled:hover,
ul.tab-nav.tab-nav2 li.ui-state-active a,
.testimonial .flex-control-nav li a,
.skills li .progress,
.owl-carousel .owl-dots .owl-dot span,
#gotoTop:hover,
.dark .button-dark:hover,
.dark .fbox-effect.fbox-dark .fbox-icon i:hover,
.dark .fbox-effect.fbox-dark:hover .fbox-icon i,
.dark .fbox-border.fbox-effect.fbox-dark .fbox-icon i:after,
.dark .i-rounded:hover,
.dark .i-circled:hover,
.dark ul.tab-nav.tab-nav2 li.ui-state-active a,
.dark .tagcloud a:hover,
.ei-slider-thumbs li.ei-slider-element,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.checkbox-style:checked + .checkbox-style-1-label:before,
.checkbox-style:checked + .checkbox-style-2-label:before,
.checkbox-style:checked + .checkbox-style-3-label:before,
.radio-style:checked + .radio-style-3-label:before,
.irs-bar,
.irs-from,
.irs-to,
.irs-single,
input.switch-toggle-flat:checked + label,
input.switch-toggle-flat:checked + label:after,
input.switch-toggle-round:checked + label:before,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-themecolor,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-themecolor {
  background-color: #e8af21;
}

.flex-control-nav li a {
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.parallax.dark .testimonial .flex-control-nav li a {
  width: 9px !important;
  height: 9px !important;
  border: none;
  background-color: #ffffff;
}

.parallax.dark .testimonial .flex-control-nav li a.flex-active {
  background-color: #007bff;
}

a,
h1 > span:not(.nocolor),
h2 > span:not(.nocolor),
h3 > span:not(.nocolor),
h4 > span:not(.nocolor),
h5 > span:not(.nocolor),
h6 > span:not(.nocolor),
.header-extras li .he-text span,
#primary-menu ul li:hover > a,
#primary-menu ul li.current > a,
#primary-menu div ul li:hover > a,
#primary-menu div ul li.current > a,
#primary-menu ul ul li:hover > a,
#primary-menu
  ul
  li
  .mega-menu-content.style-2
  ul.mega-menu-column
  > li.mega-menu-title
  > a:hover,
#top-cart a:hover,
.top-cart-action span.top-checkout-price,
.breadcrumb a:hover,
.portfolio-filter li a:hover,
.portfolio-desc h3 a:hover,
.portfolio-overlay a:hover,
#portfolio-navigation a:hover,
.entry-title h2 a:hover,
.entry-meta li a:hover,
.post-timeline .entry:hover .entry-timeline,
.post-timeline .entry:hover .timeline-divider,
.ipost .entry-title h3 a:hover,
.ipost .entry-title h4 a:hover,
.spost .entry-title h4 a:hover,
.mpost .entry-title h4 a:hover,
.comment-content .comment-author a:hover,
.product-title h3 a:hover,
.single-product .product-title h2 a:hover,
.product-price ins,
.single-product .product-price,
.feature-box.fbox-border .fbox-icon i,
.feature-box.fbox-border .fbox-icon img,
.feature-box.fbox-plain .fbox-icon i,
.feature-box.fbox-plain .fbox-icon img,
.process-steps li.active h5,
.process-steps li.ui-tabs-active h5,
.team-title span,
.pricing-box.best-price .pricing-price,
.btn-link,
.pagination > li > a,
.pagination > li > span,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.dark .post-timeline .entry:hover .entry-timeline,
.dark .post-timeline .entry:hover .timeline-divider,
.clear-rating-active:hover {
  color: #e9b021;
}

.testi-content p:after,
.testi-content p:before {
  position: absolute;
  color: #e9b021;
  font-size: 80px;
  top: 0;
  line-height: 1.4;
  left: 0;
}

.testi-content p:after,
.testi-content p:before {
  content: '"';
}

.testi-content p:after {
  left: auto;
  right: 0;
}

.dark .heading-block:not(.not-dark):after {
  border-top-color: rgba(255, 255, 255, 0.4);
}

::selection {
  background: #1abc9c;
  color: #fff;
  text-shadow: none;
}

.testi-meta:before {
  content: "\2013";
}

.testimonial-full .testi-meta span {
  padding-left: 0;
}

.testi-meta span {
  display: block;
  font-weight: 400;
  color: #999;
  font-size: 12px;
  text-transform: none;
  padding-left: 10px;
}

.ls0 {
  letter-spacing: 0 !important;
}

.btn-group-vertical > .btn-group:after,
.btn-group-vertical > .btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

/* contact page css */

.sec-padding {
  padding: 0px 0 0px 0;
}
.smart-forms {
  line-height: 1.231;
  font-weight: normal;
  font-size: 14px;
  color: #727272;
}
.smart-forms,
.smart-forms * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bmargin {
  margin-bottom: 0px;
}
.smart-forms,
.smart-forms * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.h1,
.h2,
.h3,
h1,
h2,
h3,
h4 {
  margin-top: 0;
}
.smart-forms .sections {
  margin-bottom: 22px;
}
.smart-forms .append-icon,
.smart-forms .prepend-icon {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.smart-forms .field {
  display: block;
  position: relative;
}
.smart-forms label,
.smart-forms input,
.smart-forms button,
.smart-forms select,
.smart-forms textarea {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #626262;
  outline: none;
}
.smart-forms,
.smart-forms * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.smart-forms .prepend-icon > input,
.smart-forms .prepend-icon > textarea,
.smart-forms .prepend-icon > select {
  padding-left: 36px;
}
.smart-forms .gui-input,
.smart-forms .gui-textarea {
  padding: 10px;
}
.smart-forms .select,
.smart-forms .gui-input,
.smart-forms .gui-textarea,
.smart-forms .select > select,
.smart-forms .select-multiple select {
  background: #fff;
  position: relative;
  vertical-align: top;
  border: 1px solid #e4e4e4;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  color: #626262;
  outline: none;
  height: 42px;
  width: 100%;
  *zoom: 1;
}
.smart-forms .radio,
.smart-forms .button,
.smart-forms .tooltip,
.smart-forms .checkbox,
.smart-forms .gui-input,
.smart-forms .notification,
.smart-forms .gui-textarea,
.smart-forms .select > select,
.smart-forms .select-multiple select {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: none;
}
.smart-forms .gui-input,
.smart-forms .gui-textarea,
.smart-forms .select > select,
.smart-forms input[type="button"],
.smart-forms input[type="submit"],
.smart-forms input[type="search"],
.smart-forms .select-multiple select {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.smart-forms label,
.smart-forms input,
.smart-forms button,
.smart-forms select,
.smart-forms textarea {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #626262;
  outline: none;
}
.smart-forms,
.smart-forms * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.smart-forms .prepend-icon .field-icon {
  left: 0;
}
.smart-forms .append-icon .field-icon,
.smart-forms .prepend-icon .field-icon {
  top: 0;
  width: 42px;
  height: 42px;
  color: inherit;
  line-height: 42px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  pointer-events: none;
  z-index: 99;
}
.smart-forms,
.smart-forms * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.smart-forms label,
.smart-forms input,
.smart-forms button,
.smart-forms select,
.smart-forms textarea {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #626262;
  outline: none;
}
.smart-forms .append-icon .field-icon i,
.smart-forms .prepend-icon .field-icon i {
  position: relative;
  font-size: 14px;
}
.smart-forms .field-icon i {
  color: #bbb;
  position: relative;
}
.smart-forms .form-footer {
  overflow: hidden;
  padding: 0 0;
}
.smart-forms .form-footer .button {
  margin-right: 10px;
  margin-bottom: 5px;
}
.smart-forms .btn-primary.orange-2 {
  background-color: #292929;
  color: #fff;
}
.smart-forms .btn-primary,
.smart-forms .btn-primary:hover,
.smart-forms .btn-primary:focus,
.smart-forms .btn-primary:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.smart-forms .btn-primary {
  background-color: #4ebd4a;
}
.smart-forms .button {
  border: 0;
  height: 42px;
  color: #243140;
  line-height: 1;
  font-size: 15px;
  cursor: pointer;
  padding: 0 50px;
  text-align: center;
  vertical-align: top;
  background: #dbdbdb;
  display: inline-block;
  -webkit-user-drag: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}
.smart-forms .radio,
.smart-forms .button,
.smart-forms .tooltip,
.smart-forms .checkbox,
.smart-forms .gui-input,
.smart-forms .notification,
.smart-forms .gui-textarea,
.smart-forms .select > select,
.smart-forms .select-multiple select {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: none;
}
.smart-forms label,
.smart-forms input,
.smart-forms button,
.smart-forms select,
.smart-forms textarea {
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #626262;
  outline: none;
}
label.field prepend-icon input:hover {
  border-box: 1px solid #4ec2e7;
}

/* building automation */
.et_pb_section {
  padding-top: 100px;
}
@media only screen and (min-width: 981px) {
  .et_pb_slider,
  .et_pb_slider .et_pb_slide {
    max-height: 500px;
  }
}

@media only screen and (min-width: 981px) {
  .et_pb_slider,
  .et_pb_slider .et_pb_container {
    height: 500px !important;
  }
}
.et_pb_fullwidth_slider_0 > .box-shadow-overlay,
.et_pb_fullwidth_slider_0.et-box-shadow-no-overlay {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.et_pb_slide_0.et_pb_slide .et_pb_slide_overlay_container {
  background-color: rgba(0, 0, 0, 0.62);
}
.et_pb_slider
  .et_pb_slide_0.et_pb_slide
  .et_pb_slide_description
  .et_pb_slide_title {
  font-weight: 700 !important;
}

/* concepts */

.et_pb_fullwidth_slider_0 > .box-shadow-overlay,
.et_pb_fullwidth_slider_0.et-box-shadow-no-overlay {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.et_pb_slide_0.et_pb_slide .et_pb_slide_overlay_container {
  background-color: rgba(0, 0, 0, 0.62);
}
.et_pb_slider
  .et_pb_slide_0.et_pb_slide
  .et_pb_slide_description
  .et_pb_slide_title {
  font-weight: 700 !important;
}
.et_pb_blurb_0 .et-pb-icon {
  color: #666666;
}
