@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-color {
  color: #333;
}

.body-color {
  color: #666;
}

@layer base {
  body {
    @apply font-normal body-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply heading-color;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .btn-theme {
    @apply bg-theme text-white py-2 px-4 rounded hover:bg-theme-hover transition duration-300;
  }

  .input-theme {
    @apply border-2 border-theme py-2 px-4 rounded focus:border-theme-hover;
  }

  .link-theme {
    @apply py-2 px-4 font-medium border-b-4 border-transparent hover:border-theme-hover transition duration-300;
  }

  .banner-overlay {
    @apply bg-black bg-opacity-75 absolute inset-0 p-0 m-0;
  }
}

/* input,
textarea {
  @apply border-1 border-gray-500 w-full;
} */
