@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus {
  outline: 1px solid #a5b4fc;
}

.hover\:text-theme:hover {
  color: #af5517;
}

.hover\:text-theme-2:hover {
  color: #f37022;
}

.hover\:bg-theme:hover {
  background: #af5517;
}

.hover\:bg-theme-2:hover {
  background: #f37022;
}

.before\:bg-theme:before {
  background: #af5517;
}

.before\:bg-theme-2:before {
  background: #f37022;
}

.after\:bg-theme:after {
  background: #af5517;
}

.after\:bg-theme-2:after {
  background: #f37022;
}

.text-theme {
  color: #af5517;
}

.text-theme-2 {
  color: #f37022;
}

.border-theme {
  --tw-border-opacity: 1;
  border-color: rgb(175 85 23 / var(--tw-border-opacity));
}

.border-theme-2 {
  --tw-border-opacity: 1;
  border-color: rgb(243 112 34 / var(--tw-border-opacity));
}

.bg-theme {
  --tw-bg-opacity: 1;
  background-color: rgb(175 85 23 / var(--tw-bg-opacity));
}

.bg-theme-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 112 34 / var(--tw-bg-opacity));
}
