@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  body {
    @apply font-normal text-gray-600;
  }

  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-xl font-medium;
  }
  h6 {
    @apply text-lg font-medium;
  }

  a {
    @apply transition-all duration-300 ease-linear;
  }

  input,
  textarea {
    @apply border border-gray-300 py-2 px-3 rounded outline-none w-full;
  }
}

/* Custom Components */
@layer components {
  .btn-theme {
    @apply bg-theme text-white py-2 px-5 rounded hover:bg-theme-hover transition duration-300;
  }

  .input-theme {
    @apply border-2 border-theme py-2 px-4 rounded focus:border-theme-hover;
  }

  .link-theme {
    @apply py-2 px-4 font-medium border-b-4 border-transparent hover:border-theme-hover transition duration-300;
  }

  .banner-overlay {
    @apply bg-black bg-opacity-75 absolute inset-0 p-0 m-0;
  }
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .error {
    @apply text-red-500 text-xs;
  }
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
  color: white !important;
}

.swiper-button-prev {
  left: 120px !important;
}

.swiper-button-next {
  right: 120px !important;
}
